In [135]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
music_data=pd.read_csv('music.csv')
x=music_data.drop(columns=['genre'])
y=music_data['genre']
x_train,x_test, y_train,y_test= train_test_split(x,y, test_size=0.2)
  model=DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions=model.predict(x_test)
score=accuracy_score(y_test,predictions)
score

1.0

In [68]:
music_data=pd.read_csv('music.csv')

In [69]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [70]:
 #cleaning data
    #we should split into two

In [71]:
x=music_data.drop(columns=['genre'])

In [72]:
y=music_data['genre']

In [73]:
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [74]:
#creating a model using alogrithm

In [75]:
model=DecisionTreeClassifier()
model.fit(x,y)
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [76]:
predictions=model.predict([[22,1],[22,0]])

In [77]:
predictions

array(['HipHop', 'Dance'], dtype=object)

In [78]:
# to calculating the accuracy

In [134]:
x=music_data.drop(columns=['genre'])
y=music_data['genre']
x_train,x_test, y_train,y_test= train_test_split(x,y, test_size=0.2)
model=DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions=model.predict(x_test)
score=accuracy_score(y_test,predictions)
score

1.0