In [3]:
import pandas as pd
import numpy as np
import math
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [7]:
data=pd.read_csv('/Users/niyasop/Desktop/ml-packagess/winequality 2.csv')

In [9]:
data.head(11)

   fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0    7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1   6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2   8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3   7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4   7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
5   8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
6   6.2;0.32;0.16;7;0.045;30;136;0.9949;3.18;0.47;...
7    7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
8   6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
9   8.1;0.22;0.43;1.5;0.044;28;129;0.9938;3.22;0.4...
10  8.1;0.27;0.41;1.45;0.033;11;63;0.9908;2.99;0.5...

In [11]:
new=pd.concat(data,fixed acidity,axis=1)

SyntaxError: invalid syntax (3438692456.py, line 1)