In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [5]:
df=pd.read_csv('/Users/niyasop/Desktop/ml-packagess/SOCR-HeightWeight.csv')
df.head()

   Index  Height(Inches)  Weight(Pounds)
0      1        65.78331        112.9925
1      2        71.51521        136.4873
2      3        69.39874        153.0269
3      4        68.21660        142.3354
4      5        67.78781        144.2971

(2) Outlier detection and removal using Z Score
Z score is a way to achieve same thing that we did above in part (1)

Z score indicates how many standard deviation away a data point is.

For example in our case mean is 66.37 and standard deviation is 3.84.

If a value of a data point is 77.91 then Z score for that is 3 because it is 3 standard deviation away (77.91 = 66.37 + 3 * 3.84)

Calculate the Z Score

In [6]:
df.drop('Weight(Pounds)' , axis=1, inplace=True)

In [7]:
df=df.rename(columns={'Height(Inches)':'height'})

In [8]:
df

       Index    height
0          1  65.78331
1          2  71.51521
2          3  69.39874
3          4  68.21660
4          5  67.78781
...      ...       ...
24995  24996  69.50215
24996  24997  64.54826
24997  24998  64.69855
24998  24999  67.52918
24999  25000  68.87761

[25000 rows x 2 columns]

In [9]:
df['zscore'] = ( df.height - df.height.mean() ) / df.height.std()
df.head(5)

   Index    height    zscore
0      1  65.78331 -1.162028
1      2  71.51521  1.852099
2      3  69.39874  0.739150
3      4  68.21660  0.117521
4      5  67.78781 -0.107959

In [10]:
df[df['zscore']>3]

       Index    height    zscore
138      139  73.90107  3.106706
174      175  73.83364  3.071248
1162    1163  74.24899  3.289660
1383    1384  74.19488  3.261206
1893    1894  75.15280  3.764929
2395    2396  73.99549  3.156357
2481    2482  75.11519  3.745152
4191    4192  74.03777  3.178590
4508    4509  74.28376  3.307944
6627    6628  73.72628  3.014792
7269    7270  73.81695  3.062471
7839    7840  73.85521  3.082590
8472    8473  73.95409  3.134586
8828    8829  74.27270  3.302128
9225    9226  73.75335  3.029027
9492    9493  74.05895  3.189727
10330  10331  74.36328  3.349759
10635  10636  73.88574  3.098644
11173  11174  74.16797  3.247055
13681  13682  74.74047  3.548105
14063  14064  74.04804  3.183990
15209  15210  74.59993  3.474202
15966  15967  74.25069  3.290554
16145  16146  74.47517  3.408597
16385  16386  73.88318  3.097298
16752  16753  74.84890  3.605123
17079  17080  74.29570  3.314222
19005  19006  74.01942  3.168940
21949  21950  74.42744  3.383498
22471  22472  74.51784  3.431035
22769  22770  74.19842  3.263068
23039  23040  73.95494  3.135033
24801  24802  74.53177  3.438360

In [11]:
df[df['zscore']<3]

       Index    height    zscore
0          1  65.78331 -1.162028
1          2  71.51521  1.852099
2          3  69.39874  0.739150
3          4  68.21660  0.117521
4          5  67.78781 -0.107959
...      ...       ...       ...
24995  24996  69.50215  0.793529
24996  24997  64.54826 -1.811480
24997  24998  64.69855 -1.732450
24998  24999  67.52918 -0.243960
24999  25000  68.87761  0.465113

[24967 rows x 3 columns]

In [12]:
df[(df.zscore<-3) | (df.zscore>3)]

       Index    height    zscore
138      139  73.90107  3.106706
174      175  73.83364  3.071248
412      413  62.01666 -3.142725
1162    1163  74.24899  3.289660
1383    1384  74.19488  3.261206
1893    1894  75.15280  3.764929
2395    2396  73.99549  3.156357
2481    2482  75.11519  3.745152
2651    2652  60.61265 -3.881025
3696    3697  61.89340 -3.207542
4191    4192  74.03777  3.178590
4508    4509  74.28376  3.307944
5641    5642  60.86340 -3.749168
6405    6406  62.23548 -3.027658
6481    6482  61.59011 -3.367027
6627    6628  73.72628  3.014792
6941    6942  61.40550 -3.464104
7269    7270  73.81695  3.062471
7839    7840  73.85521  3.082590
8472    8473  73.95409  3.134586
8828    8829  74.27270  3.302128
9225    9226  73.75335  3.029027
9492    9493  74.05895  3.189727
9876    9877  61.30021 -3.519471
10240  10241  61.93152 -3.187496
10330  10331  74.36328  3.349759
10635  10636  73.88574  3.098644
11173  11174  74.16797  3.247055
12031  12032  60.86977 -3.745819
13681  13682  74.74047  3.548105
13971  13972  60.27836 -4.056812
14063  14064  74.04804  3.183990
14106  14107  61.90725 -3.200258
15209  15210  74.59993  3.474202
15966  15967  74.25069  3.290554
16145  16146  74.47517  3.408597
16385  16386  73.88318  3.097298
16752  16753  74.84890  3.605123
17079  17080  74.29570  3.314222
19005  19006  74.01942  3.168940
19198  19199  61.82700 -3.242458
19750  19751  62.05222 -3.124026
20608  20609  60.80620 -3.779247
21949  21950  74.42744  3.383498
22471  22472  74.51784  3.431035
22507  22508  61.57720 -3.373816
22769  22770  74.19842  3.263068
22945  22946  61.92639 -3.190194
23039  23040  73.95494  3.135033
24244  24245  62.26498 -3.012146
24801  24802  74.53177  3.438360

In [13]:
df[(df.zscore<-3) | (df.zscore>3)]

       Index    height    zscore
138      139  73.90107  3.106706
174      175  73.83364  3.071248
412      413  62.01666 -3.142725
1162    1163  74.24899  3.289660
1383    1384  74.19488  3.261206
1893    1894  75.15280  3.764929
2395    2396  73.99549  3.156357
2481    2482  75.11519  3.745152
2651    2652  60.61265 -3.881025
3696    3697  61.89340 -3.207542
4191    4192  74.03777  3.178590
4508    4509  74.28376  3.307944
5641    5642  60.86340 -3.749168
6405    6406  62.23548 -3.027658
6481    6482  61.59011 -3.367027
6627    6628  73.72628  3.014792
6941    6942  61.40550 -3.464104
7269    7270  73.81695  3.062471
7839    7840  73.85521  3.082590
8472    8473  73.95409  3.134586
8828    8829  74.27270  3.302128
9225    9226  73.75335  3.029027
9492    9493  74.05895  3.189727
9876    9877  61.30021 -3.519471
10240  10241  61.93152 -3.187496
10330  10331  74.36328  3.349759
10635  10636  73.88574  3.098644
11173  11174  74.16797  3.247055
12031  12032  60.86977 -3.745819
13681  13682  74.74047  3.548105
13971  13972  60.27836 -4.056812
14063  14064  74.04804  3.183990
14106  14107  61.90725 -3.200258
15209  15210  74.59993  3.474202
15966  15967  74.25069  3.290554
16145  16146  74.47517  3.408597
16385  16386  73.88318  3.097298
16752  16753  74.84890  3.605123
17079  17080  74.29570  3.314222
19005  19006  74.01942  3.168940
19198  19199  61.82700 -3.242458
19750  19751  62.05222 -3.124026
20608  20609  60.80620 -3.779247
21949  21950  74.42744  3.383498
22471  22472  74.51784  3.431035
22507  22508  61.57720 -3.373816
22769  22770  74.19842  3.263068
22945  22946  61.92639 -3.190194
23039  23040  73.95494  3.135033
24244  24245  62.26498 -3.012146
24801  24802  74.53177  3.438360

In [14]:
df_no_outliers = df[(df.zscore>-3) & (df.zscore<3)]
df_no_outliers.head()

   Index    height    zscore
0      1  65.78331 -1.162028
1      2  71.51521  1.852099
2      3  69.39874  0.739150
3      4  68.21660  0.117521
4      5  67.78781 -0.107959

In [15]:
df_no_outliers.shape

(24949, 3)